@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

body {
    background-image: url('https://s3-us-west-2.amazonaws.com/userdata123/www/imagefields/6189/theme_form_background_image-1655979649-847-74-3796189495.jpg?=1655979651494&=1657296639287');
    background-color: #eaf5f7;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    font-family: 'Raleway', sans-serif;
}

form.container {
    background-color: rgb(255, 253, 253);
    padding: 40px;
    width: 90%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}






